/* BASE */
html{
    width: 100%;
    display: block;
}
body{
    font-size: 1.2em;
    padding: 0px 15px 0px 15px;
    font-family: arial;
    color: #1F1F1F;
    margin: auto;
    width: 400px;
}

h1#title{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 4em;
    text-align: right;
    line-height: .9em;
}
h1#title a{
    font-family: arial;
    text-decoration: none;
    color: #999999;
    margin: 0;
    padding: 0;
    letter-spacing: -.05em;
    font-weight: lighter;
}

#tagline{
    font-style: italic;
    margin: -7px 20px 30px 0;
    padding: 0;
    display: block;
    text-align: right;
    color: #707070;

}
fieldset, form{
    border: 0;
    margin: 0;
    padding: 0;
}





/* Event Page */

#current_event_name{

}
#create_event_form{
    background-color: #ededed;
    width: 200px;
    margin: auto;
    padding: 20px 40px 20px 20px;
    
}
#create_event_form input{
    display: block;
    margin: 5px 3px 10px 3px;
    padding: 3px;
}
#create_event_form input[type='text']{
    width: 100%;
}

#create_event_form textarea{
    width: 100%;
}

#create_event_form input[type='submit']{
    font-size: 1.3em;
    text-align: right;
}

#user_info_form{
    background-color: #ededed;
    width: 200px;
    margin: auto;
    padding: 20px 40px 20px 20px;
    
}
#user_info_form input{
    display: block;
    margin: 5px 3px 10px 3px;
    padding: 3px;
}
#user_info_form input[type='text']{
    width: 100%;
}


#vote_yes_form, #vote_heck_yes_form, #vote_no_form, #vote_heck_no_form{
    margin: auto;
    width: 100%;
}
#vote_no_form fieldset, #vote_yes_form fieldset, #vote_heck_yes_form fieldset, #vote_heck_no_form fieldset{
    width: 50%;
    margin: auto;
}
#vote_no_form input[type='submit']{
    font-size: 1.5em;
    width: 100%;
    background-color: #FF6666;
}
#vote_heck_no_form input[type='submit']{
    font-size: 1.5em;
    width: 100%;
    background-color: #FF3030;
}
#vote_yes_form input[type='submit']{
    font-size: 1.5em;
    width: 100%;
    background-color: #90EE90;
}
#vote_heck_yes_form input[type='submit']{
    font-size: 1.5em;
    width: 100%;
    background-color: #32CD32;
}

.yourvotes{
    font-size: .8em;
    text-align: left;
}




