{% extends "main.html" %}

{% block main %}


{% if successful_vote %}
    yay, you voted!
{% endif %}

<form action="create_event_do" method="post" id="create_event_form">
<fieldset>
    <label for="name">Name of event</label>
    <input type="text" id="name" name="name" />
<label for="description">Description</label>
<textarea id="description" name="description"></textarea>
    <label for="video_id">Video ID (currently we just support youtube. leave blank for no video)</label>
    <input type="text" id="video_id" name="video_id" />
    <input type="submit" value="Create!" />
</fieldset>
</form>

{% endblock %}
