{% extends "main.html" %}

{% block main %}
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript' src='/static/charter.js'></script>


<h2 id="current_event_name">{{event.name}}</h2>

<div id="survey">
<h4>
Survey info
</h4>

    <form action="/process_user_do" method="post" id="user_info_form">

<fieldset>
        <label>Name: </label>
        <input type="text" id="name" name="name" value="{{user.name}}"/>
</fieldset>
<fieldset>
	<label>Age: </label>
    <input type="text" id="age" name="age" value="{{user.age}}" />
</fieldset>
<fieldset>
	<label>Gender: </label>
	<input type="text" id="gender" name="gender" value="{{user.gender}}"  />
</fieldset>

<fieldset>
        <input type="submit" value="Submit" />
	<input type="hidden" name="from_event__pk" value="{{event.pk}}"/>
</fieldset>

    </form>
<a href="" id="survey_hide_link">(hide)</a>
</div>

{% if event.has_video %}

<script type="text/javascript" src="/static/swfobject.js"></script> 

<div id="ytapiplayer"> 
    You need Flash player 8+ and JavaScript enabled to view this video.
</div> 

<script type="text/javascript"> 
      function drawChart_return_false(){
        drawChart();
        return false;
      }

    $(function(){
        jack_this_form_id_with_this_function("vote_heck_yes_form", vote_heck_yes);
        jack_this_form_id_with_this_function("vote_heck_no_form", vote_heck_no);
        jack_this_form_id_with_this_function("vote_yes_form", vote_yes);
        jack_this_form_id_with_this_function("vote_no_form", vote_no);
        jack_this_form_id_with_this_function("chart_params_form", drawChart_return_false);
        drawChart();
    })
    //called when you click a vote button
    function vote(score){
        relative_timestamp = ytplayer.getCurrentTime();
        $.getJSON(
            "/process_vote_json",
            {
                event__pk: "{{event.pk}}",
                weight: score,
                relative_timestamp: relative_timestamp,
            },
            function(json){
                if(json.success){
                    //update the number of times you've voted
                    $("#your_num_votes").html(json.times_voted);
                    //add the vote to our live struct of votes
                    // (this way the graph will automatically show it!)
                    new_vote_arr = new Array(
                        convert_seconds_since_vid_start_into_date(relative_timestamp),
                        (score),
                        "TODO: user name",
                        "TODO: user name"
                    );
                    for(i=data_arr.length-1; i>=0; i--){
                        data_arr[i+1]=data_arr[i];
                        if(i==0 || data_arr[i-1][0] <= new_vote_arr[0]){
                            data_arr[i] = new_vote_arr;
                            break;

                        }
                    }
                    drawChart();
                }
            }
        );
    }

    var survey_is_visible = true;
    $("#survey_hide_link").click(function(){
        if(survey_is_visible){
            $("#user_info_form").hide();
            $("#survey_hide_link").html("(show)");
        }
        else{
            $("#user_info_form").show();
            $("#survey_hide_link").html("(hide)");
        }
        survey_is_visible = !survey_is_visible
        return false;
    });

    function vote_heck_yes(){
        vote(2);
        drawChart();
    }
    function vote_yes(){
        vote(1);
        drawChart();
    }

    function vote_no(){
        vote(-1);
        drawChart();
    }

    function vote_heck_no(){
        vote(-2);
        drawChart();
    }

    var rating = 2047;

    var videoId = "{{event.video_site_id}}";

    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/"+videoId+"&enablejsapi=1&playerapiid=ytplayer","ytapiplayer", "425", "356", "8", null, null, params, atts);

    function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById("myytplayer");
        ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
    }


    var a = new Array();

    var intval="";

    // When the state of the video changes, we act accordingly
    function onytplayerStateChange(newState) {
        switch(newState) {
            case 0: // state: ended
                break;
            case 1: // state: playing
                break;
            case 2: // state: pause
                break;
            case 3: // state: buffering
                break;
        }
    }
</script> 

{% endif %}


<div id="vote_forms">
    <form action="/process_vote_do" method="post" id="vote_heck_yes_form">
    <fieldset>
        <input type="hidden" name="weight" value="2" />
        <input type="hidden" name="event__pk" value="{{event.pk}}"/>
        <input type="submit" value="Heck Yes" />
    </fieldset>
    </form>

    <form action="/process_vote_do" method="post" id="vote_yes_form">
    <fieldset>
        <input type="hidden" name="weight" value="1" />
        <input type="hidden" name="event__pk" value="{{event.pk}}"/>
        <input type="submit" value="Yes" />
    </fieldset>
    </form>

    <br />

    <form action="/process_vote_do" method="post" id="vote_no_form">
    <fieldset>
        <input type="hidden" name="weight" value="-1" />
        <input type="hidden" name="event__pk" value="{{event.pk}}"/>
        <input type="submit" value="No" />
    </fieldset>
    </form>

    <form action="/process_vote_do" method="post" id="vote_heck_no_form">
    <fieldset>
        <input type="hidden" name="weight" value="-2" />
        <input type="hidden" name="event__pk" value="{{event.pk}}"/>
        <input type="submit" value=" Heck No" />
    </fieldset>
    </form>

    <p class="yourvotes">
    You've voted <span id="your_num_votes">{{her_num_votes}}</span> times.
    </p>

</div>






<!--Load the AJAX API-->
<script type='text/javascript'>
    google.load('visualization', '1', {'packages':['annotatedtimeline']});

    //units in milliseconds
    var units_array = new Array();
    units_array['seconds'] = 1000;
    units_array['minutes'] = 60000;
    units_array['hours'] = 3600000;
    

    var has_video = false;
    if ('{{event.has_video}}' == 'True') {
        has_video = true;
    }

    var data_arr = new Array();
    var j = 0;

    //grab all the votes from python and put them in a javascript array
    {% for vote in votes %}
        var date = null;
        if (has_video){
            {% if vote.relative_timestamp %}
                //NOTE: we multiply by 1000 because in the array it's in seconds
                date = convert_seconds_since_vid_start_into_date({{vote.relative_timestamp}});
            {% endif %}
        }
        else{
            //TODO: is this actually right?
            date = new Date("{{vote.timestamp}}");
        }
        data_arr[j] = new Array(
            date,
            ({{vote.weight}}),
            "{{vote.user.name}}",
            "{{vote.user.name}}"
        );
        j++;
    {% endfor %}
</script>


<div id='chart_div'></div>
<h3 id="chart_params_header">Clustering</h3>
<form action="#" method="post" id="chart_params_form">
<fieldset style="border: none; padding: 0; margin: 0">
<label>specify the time interval for which votes are to be grouped together into one</label></ br>
<input type="text" id="time_interval" style="width: 2em;" name="time_interval" value="1"/>
<select id="time_units" name="time_units">
<option value="seconds" selected="selected"> seconds</option>
<option value="minutes"> minutes</option>
<option value="hours"> hours</option>
</select>
<input type="submit" value="Submit" />
</fieldset>
</form>
{% endblock %}
